.navbar {
  background-color: var(--background-color);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 8pt 14pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-color);
  border-bottom-style: solid;
  border-bottom-width: 0.25pt;
}

.companyLogo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19.4pt;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.nav-link {
  font-size: 11pt;
  font-weight: medium;
  text-decoration: none;
  color: var(--text-color);
  margin-left: 35pt;
}

.nav-link.active {
  color: var(--red-text-color);
}

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  padding: 35pt 57pt;
  padding-top: 50svh;
}

.footer-text {
  font-size: 30pt;
  font-weight: 900;
}

.footer-link {
  font-size: 15pt;
  font-weight: 300;
  text-decoration: none;
  color: var(--background-color);
  margin-top: 35pt;
}
