:root {
    --text-color: #606161;
    --red-text-color: #ba2548;
    --background-color: #ffffff;
    --border-color: #d6d6d6;
    --footer-text-color: #d7d8d9;
    --footer-background-color: #424242;
    --phase-one-color: #189aba;
    --phase-two-color: #c4c961;
    --phase-three-color: #9ea6a8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', Arial, sans-serif;
}