<style>
    .carousel-main-image {
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease-in-out;
    }

    .carousel-thumbnails {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 14pt;
        margin-top: 10px;
    }

    .carousel-thumbnail {
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;
    }

    .carousel-thumbnail:hover,
    .carousel-thumbnail.active {
        opacity: 1;
    }

    .carousel-thumbnail img {
        width: 100%;
        aspect-ratio: 1.618;
        object-fit: cover;
    }
</style>

<div id="carousel" class="carousel-container" style="grid-column: span 2;">
    <img class="carousel-main-image lazy-load" src="{{ page.images[0] | prepend: site.baseurl }}">
    <div class="carousel-thumbnails">
        {% for image in page.images %}
        <div class="carousel-thumbnail{% if forloop.first %} active{% endif %}">
            <img class="lazy-load" src="{{ image | prepend: site.baseurl }}">
        </div>
        {% endfor %}
    </div>
</div>

<script async>
    // Variables
    const mainImage = document.querySelector('.carousel-main-image');
    const thumbnails = document.querySelectorAll('.carousel-thumbnail');
    let currentIndex = 0;
    let interval;
    // Set initial active thumbnail
    thumbnails[0].classList.add('active');
    // Thumbnail click event listeners
    thumbnails.forEach((thumbnail, index) => {
        thumbnail.addEventListener('click', () => {
            updateCarousel(index);
        });
    });

    // Function to update the carousel
    function updateCarousel(index) {
        currentIndex = index;
        mainImage.style.opacity = '0';
        mainImage.src = thumbnails[index].querySelector('img').src;
        mainImage.style.opacity = '1';
        removeActiveClass();
        thumbnails[index].classList.add('active');
    }

    // Function to remove active class from all thumbnails
    function removeActiveClass() {
        thumbnails.forEach((thumbnail) => {
            thumbnail.classList.remove('active');
        });
    }

    // Autoscroll on page load
    interval = setInterval(() => {
        currentIndex = (currentIndex + 1) % thumbnails.length;
        updateCarousel(currentIndex);
    }, 5000);

    // Stop autoscroll when mouse enters the carousel
    const carouselContainer = document.querySelector('.carousel-container');
    carouselContainer.addEventListener('mouseenter', () => {
        clearInterval(interval);
    });

    // Resume autoscroll when mouse leaves the carousel
    carouselContainer.addEventListener('mouseleave', () => {
        clearInterval(interval);
        currentIndex = Array.from(thumbnails).findIndex((thumbnail) =>
            thumbnail.classList.contains('active')
        );
        interval = setInterval(() => {
            currentIndex = (currentIndex + 1) % thumbnails.length;
            updateCarousel(currentIndex);
        }, 5000);
    });
</script>