<div id="contact" class="footer">
  <div
    class="grid"
    style="
      width: 100%;
      max-width: 1440px;
      padding: calc(13 * var(--size-unit)) var(--size-unit-4);
      row-gap: var(--size-unit-5);
      grid-template-columns: repeat(12, 1fr);
    "
  >
    <a
      href="mailto:hello@keydesign.com"
      style="grid-column: 2/12; text-decoration: none"
    >
      <h1 class="footer-text">
        Planning a new product?
        <br />
        <i style="font-weight: 200">Let's</i>
        talk.
      </h1>
    </a>
    <a
      href="mailto:hello@keydesign.com"
      style="grid-column: 2/12; text-decoration: none"
      class="footer-link"
    >
      <h3 class="footer-link">Hello@keydesign.com</h3>
    </a>
    <a
      href="https://www.instagram.com/keydesign_ideas/"
      class="footer-link-img img-container"
      style="grid-column: 2;"
    >
      <img
        src="{{ site.baseurl }}/assets/images/icons/instagram.svg"
        alt="Instagram"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/antonija-j-campbell/"
      class="footer-link-img img-container"
    >
      <img
        src="{{ site.baseurl }}/assets/images/icons/linkedin.svg"
        alt="LinkedIn"
      />
    </a>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const contact = document.getElementById("contact");
    const body = document.body;

    function adjustBodyMargin() {
      body.style.marginBottom = `${contact.offsetHeight}px`;
    }

    window.addEventListener("resize", adjustBodyMargin);
    adjustBodyMargin();
  });
</script>

{% if page.scripts %} {% for script in page.scripts %}
<script src="{{ script | prepend: site.baseurl }}"></script>
{% endfor %} {% endif %}
