<div class="navbar">
  <div
    style="
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1440px;
    "
  >
    <div style="display: flex; justify-content: space-between; width: 100%">
      <a
        href="{% if page.url == '/' or page.url == '/index.html' %}/{% else %}{{ site.baseurl }}/{% endif %}"
        class="company-logo"
      >
        {% include logo.svg %}
      </a>
      <div class="icon nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbarLinks" id="navbarLinks">
      <a
        href="{% if page.url == '/' or page.url == '/index.html' %}#work{% else %}{{ site.baseurl }}/#work{% endif %}"
        class="nav-link"
        onclick="toggleNavbar()"
      >
        WORK
      </a>
      <a
        href="{{ site.baseurl }}/services/"
        class="nav-link {% if page.hightlightServices %}active{% endif %}"
      >
        SERVICES
      </a>
      <a
        href="{{ site.baseurl }}/about/"
        class="nav-link {% if page.hightlightAbout %}active{% endif %}"
      >
        ABOUT
      </a>
      <a
        href="{{ site.baseurl }}/blog/"
        class="nav-link {% if page.hightlightBlog %}active{% endif %}"
      >
        BLOG
      </a>
      <a
        href="{% if page.url == '/' or page.url == '/index.html' %}#contact{% else %}{{ site.baseurl }}/#contact{% endif %}"
        class="nav-link"
        onclick="toggleNavbar()"
      >
        CONTACT
      </a>
    </div>
  </div>
</div>
<script>
  const navbar = document.querySelector(".navbar");
  const navIcon = document.querySelector(".nav-icon");
  navIcon.addEventListener("click", (event) => {
    toggleNavbar();
  });

  const toggleNavbar = () => {
    navIcon.classList.toggle("open");
    navbar.classList.toggle("open");
  };
</script>
