<div id="{{ include.section_id }}" class="section bottomBorder" style="padding-top: 0;">
    <div class="wrapper">
        {% assign active_items = include.items | where: "active", true %}
        {% assign items_with_order = active_items | where_exp: "item", "item.order != nil" | sort: "order" %}
        {% assign items_without_order = active_items | where_exp: "item", "item.order == nil" %}
        {% assign sorted_items = items_with_order | concat: items_without_order %}
        {% for item in sorted_items %}
            <a href="{{ item.url | prepend: site.baseurl }}">
                <div class="item zoom-container">
                    <img src="{{ item.main_image | prepend: site.baseurl }}" alt="{{ item.title }}: Main image" class="zoom-image">
                    <div class="caption"><span>{{ item.title }}</span><span>{{ item.client }}</span></div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
