<div class="footer">
    <div style="display: flex; flex-direction: column;">
        <span class="footer-text">Planning a new product?<br><i style="font-weight: 100;">Let's</i> talk.</span>
        <!-- <div style="height: 35pt"></div> -->
        <a class="footer-link" href="mailto:hello@keydesign.com">Hello@keydesign.com</a>
        <!-- <div style="height: 35pt"></div> -->
        <div style="display: flex; column-gap: 22pt;">
            <a href="https://www.instagram.com/keydesign_ideas/" class="footer-link"><img style="width: 35pt"
                    src="images/icons/instagram.svg" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/antonija-j-campbell/" class="footer-link"><img style="width: 35pt"
                    src="images/icons/linkedin.svg" alt="LinkedIn"></a>
        </div>
    </div>
</div>