.navbar {
  background-color: var(--background-color);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8pt 14pt;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-color);
  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
}

.companyLogo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19.4pt;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.nav-link {
  font-size: 11pt;
  text-decoration: none;
  color: var(--text-color);
}

.nav-link.active {
  color: var(--red-text-color);
}

.hamburger {
  display: none;
}

.navbarLinks {
  column-gap: 35pt;
  display: flex;
  align-items: center;
}

@media (max-width: 1023px) {
  .navbarLinks {
    display: none;
  }

  .open {
    flex-direction: column;
    align-items: normal;
  }

  .open .navbarLinks {
    display: flex;
    flex-direction: column;
    row-gap: 8pt;
    align-items: end;
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .hamburger-line {
    background-color: #000;
    display: block;
    height: 2px;
    margin-bottom: 6px;
    transition: all 0.1s ease-in-out;
    width: 25px;
  }

  .navbar.open .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .navbar.open .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
}

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  padding: 35pt 57pt;
  padding-top: 50svh;
}

.footer-text {
  font-size: 30pt;
  font-weight: 900;
}

.footer-link {
  font-size: 15pt;
  font-weight: 300;
  color: var(--background-color);
  margin-top: 35pt;
}