:root {
  --color-primary: #666666;
  --color-primary-light: #999999;
  --color-primary-dark: #111111;
  --color-secondary: #e61428;
  --color-secondary-variant: #e61428;
  --color-background: #ffffff;
  --color-surface: #d9d9d9;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-background: #666666;
  --color-on-surface: #666666;
  --size-unit: 8px;
  --size-unit-2: calc(2 * var(--size-unit));
  --size-unit-3: calc(3 * var(--size-unit));
  --size-unit-4: calc(4 * var(--size-unit));
  --size-unit-5: calc(5 * var(--size-unit));
  --size-unit-6: calc(6 * var(--size-unit));
  --size-unit-8: calc(8 * var(--size-unit));
  --size-unit-13: calc(13 * var(--size-unit));
}

html {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  background-color: #424242;
}

body {
  margin: 0;
  margin-bottom: calc(62 * var(--size-unit)); /* Keep for no-js pages */
  padding: 0;
}

h1 {
  margin: 0;
  color: var(--color-primary-dark);
  font-weight: 400;
  font-size: calc(6.5 * var(--size-unit));
  line-height: calc(7.5 * var(--size-unit));
}

h2 {
  margin: 0;
  margin-bottom: var(--size-unit-3);
  color: var(--color-primary);
  font-weight: 400;
  font-size: var(--size-unit-3);
  line-height: var(--size-unit-4);
}

h3 {
  margin: 0;
  color: var(--color-primary-light);
  font-weight: 400;
  font-size: var(--size-unit-3);
  line-height: var(--size-unit-4);
}

p {
  margin: 0;
  color: var(--color-primary-light);
  font-size: var(--size-unit-2);
  line-height: var(--size-unit-3);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100svw;
  background-color: var(--color-background);
}

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1440px;
  min-height: 100svh;
  padding: var(--size-unit-8) var(--size-unit-4) 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #ffffffcc;
  border-bottom: var(--color-surface);
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  backdrop-filter: saturate(180%) blur(var(--size-unit-3));
}

.navbarLinks {
  display: flex;
  align-items: center;
  column-gap: var(--size-unit-4);
}

.company-logo {
  height: var(--size-unit-2);
  width: 100%;
  overflow: hidden;
}

.company-logo svg {
  fill: var(--color-primary-dark); 
}

.nav-link {
  color: var(--color-primary);
  font-size: var(--size-unit-2);
  line-height: var(--size-unit-2);
  text-decoration: none;
}

.nav-link.active {
  color: var(--color-secondary);
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: #d9d9d9bb;
  border-style: solid;
  border-width: 0.5px;
  border-radius: var(--size-unit);
}

.zoom-container:hover img {
  transform: scale(1.05);
  transition: transform 0.4s cubic-bezier(0.5, 1, 0.89, 1);
}

.caption {
  position: absolute;
  bottom: var(--size-unit-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - var(--size-unit-6));
  height: var(--size-unit-8);
  padding: var(--size-unit);
  background-color: #f9f9f999;
  border-radius: var(--size-unit);
  opacity: 0;
  backdrop-filter: saturate(180%) blur(var(--size-unit));
  transition: opacity 0.4s cubic-bezier(0.5, 1, 0.89, 1);
}

.zoom-container:hover .caption {
  opacity: 1;
  transition: transform 0.4s cubic-bezier(0.5, 1, 0.89, 1);
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #f5f5f5;
  background-color: #424242;
}

.footer-text {
  color: #f5f5f5;
  font-weight: 400;
}

.footer-link {
  color: #f5f5f5;
}

.footer-link-img {
  color: #f5f5f5;
  width: var(--size-unit-8);
  height: var(--size-unit-8);
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-unit-2);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

.grid-1-4-1 {
  grid-template-columns: 1fr 4fr 1fr;
}

.grid-1-10-1 {
  grid-template-columns: 1fr 10fr 1fr;
}

.grid-1-4-4-1 {
  grid-template-columns: 1fr 4fr 4fr 1fr;
}

.grid-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: calc(8 * var(--size-unit-8));
  column-gap: var(--size-unit-6);
}

.grid-blog {
  grid-template-columns: 1fr 4fr 4fr 1fr;
}

.grid-item-1 {
  grid-column: 1;
}

.grid-item-2 {
  grid-column: 2;
}

.grid-item-1-2 {
  grid-column: 1/3;
}

.grid-item-1-3 {
  grid-column: 1/4;
}

.grid-item-2-3 {
  grid-column: 2/4;
}

.grid-item-2-blog {
  grid-column: 2;
}

.grid-item-3-blog {
  grid-column: 3;
}

.content-separator {
  margin: auto;
  color: var(--color-primary);
  font-size: var(--size-unit-2);
}

.separator {
  display: flex;
  align-items: center;
  padding: var(--size-unit-3) 0;
  color: var(--color-primary);
  font-size: var(--size-unit-2);
}

.separator::before,
.separator::after {
  content: "";
  flex-grow: 1;
  border-top: 0.5px solid var(--color-primary);
}

.separator-text::before {
  margin-right: var(--size-unit-4);
}

.separator-text::after {
  margin-left: var(--size-unit-4);
}

.highlight {
  color: var(--color-secondary);
}

/*Tablet*/
@media only screen and (max-width: 800px) {
  .navbar > div:nth-child(1) {
    flex-direction: column;
  }

  .navbarLinks {
    display: none;
    padding-top: 0;
  }

  .open {
    flex-direction: column;
    align-items: normal;
  }

  .open .navbarLinks {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 8pt;
  }

  .nav-icon {
    position: relative;
    display: inline-block;
    width: var(--size-unit-2);
    height: calc(2.5 * var(--size-unit) - 6px);
    /* margin: calc(2.5 * var(--size-unit) + 7px) var(--size-unit-4); */
    /*margin-top: calc(2.5 * var(--size-unit) + 7px);*/
    cursor: pointer;
    /* fix darkreader color inversion */
    --darkreader-bg--color-primary-dark: var(--color-background);
  }

  .nav-icon span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary-dark);
    border-radius: 2px;
    transition: 0.4s;
  }

  .nav-icon span:nth-child(1) {
    top: 0;
    left: 0;
  }

  .nav-icon span:nth-child(2) {
    top: calc(0.75 * var(--size-unit));
    left: 0;
  }

  .nav-icon span:nth-child(3) {
    bottom: 0;
    left: 0;
  }

  .nav-icon.open {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
    transition-delay: 0.2s;
  }

  .nav-icon.open span:nth-child(1) {
    transform: translate(0, calc(0.75 * var(--size-unit)));
    transition-delay: 0.05s;
  }

  .nav-icon.open span:nth-child(2) {
    opacity: 0;
  }

  .nav-icon.open span:nth-child(3) {
    transform: translate(0, calc(-0.75 * var(--size-unit))) rotate(90deg);
    transition-delay: 0.05s;
  }

  .grid,
  .grid-2,
  .grid-12,
  .grid-1-4-1,
  .grid-1-10-1,
  .grid-1-4-4-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-item,
  .grid-item-1,
  .grid-item-2,
  .grid-item-1-2,
  .grid-item-1-3 {
    grid-column: unset;
  }
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: calc(3.5 * var(--size-unit));
    line-height: var(--size-unit-4);
  }
  
  .footer-link-img {
    color: #f5f5f5;
    width: var(--size-unit-6);
    height: var(--size-unit-6);
    border: none;
  }
}

@media only screen and (max-width: 920px) {
  .grid-blog {
    grid-template-columns: 1fr;
  }

  .grid-item-2-blog,
  .grid-item-3-blog {
    grid-column: unset;
  }
}
