.wrapper {
    display: grid;
    gap: 8pt;
}

@media screen and (max-width: 767px) {

    /* 1 item per row for mobile */
    .wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* 1 item per row for vertical tablet */
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {

    /* 3 items per row for laptop / desktop */
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

.item {
    aspect-ratio: 1.618;
    width: 100%;
    height: 100%;
}