.blog-post {
    margin: 0 44pt;
    display: flex;
    column-gap: 44pt;
}

.blog-image {
    width: 242pt;
    height: 92pt;
    margin-left: -14pt;
    background-color: #cfcfcf;
    object-fit: fill;
}

.blog-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-link {
    color: var(--red-text-color);
    display: inline;
    text-decoration: none;
}

h2 {
    margin-bottom: 14.3pt;
}