---
layout: default
---

<div class="grid grid-1-4-1" style="margin: var(--size-unit-8) 0; gap: 0">
  <div
    class="grid-item grid-item-2 grid grid-2"
    style="gap: calc(2 * var(--size-unit))"
  >
    <div class="grid-item grid-item-1-2">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="grid-item grid-item-1-2 img-container">
      <img src="{{ page.main_image | prepend: site.baseurl }}" />
    </div>
    <div style="height: var(--size-unit)"></div>
    {% assign lines = content | strip_html | split: '\n\n' | first | inspect |
    replace: '&quot;', '' | split: '\n\n' %} {% assign half_size = lines.size |
    divided_by: 2 %} {% assign array1 = lines | slice: 0, half_size %} {% assign
    array2 = lines | slice: half_size, lines.size %}
    <div
      class="grid-item grid-item-1"
      style="display: flex; flex-direction: column; gap: var(--size-unit-2)"
    >
      {% for line in array1 %} {% if line != '' %}
      <p>{{ line | replace: '\n', ' ' | strip_whitespace }}</p>
      {% endif %} {% endfor %}
    </div>
    <div
      class="grid-item grid-item-2"
      style="display: flex; flex-direction: column; gap: var(--size-unit-2)"
    >
      {% for line in array2 %} {% if line != '' %}
      <p>{{ line | replace: '\n', ' ' | strip_whitespace }}</p>
      {% endif %} {% endfor %}
    </div>
    {% assign selected_images = page.images %} {% for image in selected_images
    %}
    <div class="grid-item img-container">
      <img src="{{ image | prepend: site.baseurl }}" />
    </div>
    {% endfor %}
  </div>
</div>
