<!DOCTYPE html>
<html>

<head>
    {% include shared_head.html %}
    <title>{% if page.title and page.title != site.title and page.title != "Index" %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/banners.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/wrapper.css">
</head>

<body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/lazy_load.js"></script>
</body>

</html>