<!DOCTYPE html>
<html>

<head>
    {% include shared_head.html %}
    <title>{% if page.title and page.title != site.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/banners.css">
    <link rel="stylesheet" href="/assets/css/wrapper.css">
</head>

<body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% if page.scripts %}
    {% for script in page.scripts %}
    <script src="{{ script | relative_url }}"></script>
    {% endfor %}
    {% endif %}
</body>

</html>