---
layout: default
---

<div class="grid grid-1-10-1" style="margin: var(--size-unit-8) 0; gap: 0">
  <div class="grid grid-2 grid-item-2">
    <div class="grid-item grid-item-1-2">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="grid-item img-container grid-item-1-2">
      <img src="{{ page.images[0] | prepend: site.baseurl }}" />
    </div>
    <div
      class="grid grid-item-1-2"
      style="grid-template-columns: repeat(2, 1fr)"
    >
      {% assign selected_images = page.images | slice: 1, page.images.size %} {%
      for image in selected_images %}
      <div class="grid-item img-container">
        <img src="{{ image | prepend: site.baseurl }}" />
      </div>
      {% endfor %}
    </div>
    <div style="height: var(--size-unit)"></div>
    <div class="grid-item grid-item-1">
      <p>{{ page.description }}</p>
    </div>
    <div class="grid-item grid-item-2">
      <p>{{ page.brief }} {{ page.solution }}</p>
    </div>
    <span
      class="separator grid-item-1-2"
      style="margin: var(--size-unit-3) 0"
    ></span>
    <div class="grid-item grid-item-1">
      {% if page.client %}
      <p style="word-wrap: break-word">Client | {{ page.client }}</p>
      {% endif %} {% if page.year %}
      <p style="word-wrap: break-word">Year | {{ page.year }}</p>
      {% endif %} {% if page.sector %}
      <p style="word-wrap: break-word">Sector | {{ page.sector }}</p>
      {% endif %} {% if page.link %}
      <p style="word-wrap: break-word">
        Link |
        <a
          href="{{ page.link }}"
          style="word-wrap: break-word; color: var(--color-primary-light)"
        >
          {{ page.link }}
        </a>
      </p>
      {% endif %}
    </div>
    <div class="grid-item grid-item-2">
      <p>Services:</p>
      {% for service in page.services %}
      <p>{{ service }}</p>
      {% endfor %}
    </div>
  </div>
</div>
