<!DOCTYPE html>
<html>

<head>
    {% include shared_head.html %}
    <title>{% if page.client %}{{ page.client }} - {% endif %}{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/banners.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/wrapper.css">
    <style>
        :root {
            --large-space: 35pt;
            --small-space: 21pt;
            --smaller-space: 11pt;
        }

        .wrapper {
            gap: 14pt;
        }

        a {
            color: var(--text-color);
        }

        h1 {
            margin: 0;
            margin-bottom: 14pt;
        }

        h3 {
            margin-top: var(--small-space);
            margin-bottom: var(--smaller-space);
        }
    </style>
</head>

<body>
    {% include header.html %}

    <div class="content">
        <div class="section" style="padding-top: 57pt; padding-bottom: 22pt; min-height: calc(100svh - 135px)">
            <div class="wrapper">
                {% include carousel.html %}
                <div style="grid-column: span 1;">
                    <h1>{{ page.title }}</h1>
                    {% if page.client %}<p>Client | {{ page.client }}</p>{% endif %}
                    {% if page.year %}<p>Year | {{ page.year }}</p>{% endif %}
                    <p>{% if page.sector %}Sector | {{ page.sector }}{% endif %}</p>
                    <p>{% if page.link %}Link | <a href="{{ page.link }}">{{ page.link }}</a>{% endif %}</p>
                    <p style="margin-top: var(--small-space);">{{ page.description }}</p>
                    <h3>The Brief</h3>
                    <p>{{ page.brief }}</p>
                    <h3>Solution</h3>
                    <p>{{ page.solution }}</p>
                    <h3>Services</h3>{% for service in page.services %}<p>{{ service }}</p>{% endfor %}
                    {% if page.quotes %}<h3>Quote</h3>{% for quote in page.quotes %}<p>{{ quote }}</p>{% endfor %}{%
                    endif %}
                    {% if page.award %}<h3>Award</h3>
                    <p>{{ page.award }}</p>{% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>

</html>